<h1>Angular 2 is the state of the art technology for building single page applications</h1>
<h3>Angular 1 and 2 are the reference in enterprises worldwide and are loved by millions of developers</h3>
<p>Angular has components, modules, templates, metadata, data binding, directives, services, dependency injection
  and many more features.
</p>
<p>We have one way data binding, 2 way data binding and three way data binding with a real time database like Firebase.</p>
<p>We can write our Angular applications in pure javascript, dart or typescript.</p>
<p>Angular apps are modular and Angular has its own modularity system called Angular modules or NgModules.</p>
<p>Angular applications are component based, you define the component's application logic - what it does to support the view
  inside a class, the class interacts with the view through an API of properties and methods.
</p>
<p>Your component references an HTML view and a CSS class, Angulars component interacts with the view and binds the HTML and CSS together.</p>
<p>We attach metadata to a class to inform Angular that this is a component, the component consists of a moduleid, selector,
  templateUrl and providers.
</p>
<p>Angular templates are dynamic. When Angular renders them, it transforms the DOM according to the instructions given by directives.</p>
<p>Angular services are injectable and declared once, reusable within the entire application, we can make HTTP Requests,
  JSONP Requests, use the Angular In Memory Web API to simulate a backend.
</p>
<p>Angular has baked in Dependency Injection in the Framework. Dependency injection is a way to supply a new instance
  of a class with the fully formed dependency it requires. Most dependencies are services. Angular uses dependency injection
  to provide new components with the services they need.
</p>